################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Form_ModelDB_softeng/FileContentIndex/21c1e4f4-59d1-4313-8085-db8dc635581e.vsidx
/.vs/Form_ModelDB_softeng/FileContentIndex
/.vs/Form_ModelDB_softeng/v17
